<form action="/admin/add-media" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="browse-image">Browse images</label>
        <input type="file" name="mediaImage" id="browse-image" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>