<form action="/admin/add-page" method="POST">
    <input type="text" name="title" class="form-control"/>
    <textarea name="content" class="form-control"></textarea>
    <select name="level">
        <option value="/">Home</option>
        <%data.map((i)=>{%>
        <%let path = `${i.title}/`%>
        <option value="<%=i.level+path%>"><%=i.title%></option>
        <%})%>
    <select>
<input type="submit" class="btn btn-info" value="Add +" />
</form>

