.portfolio .jumbotron h1 {
  font-family: Lato; }

.portfolio .content .card {
  margin-bottom: 100px;
  border: transparent; }
  .portfolio .content .card img {
    height: 220px;
    object-fit: cover;
    transition: .3s; }
  .portfolio .content .card .card-body h3 {
    font-family: Lato;
    text-align: center;
    color: #506a85; }
  .portfolio .content .card .card-body a {
    text-decoration: none; }
    .portfolio .content .card .card-body a button {
      display: block;
      margin: 25px auto;
      background-color: #fff;
      color: #000;
      border: 2px solid #05a081;
      transition: .3s; }
      .portfolio .content .card .card-body a button:hover {
        color: #fff;
        background-color: #05a081; }
  .portfolio .content .card:hover > img {
    transform: scale(1.02, 1.02); }

@media screen and (max-width: 767px) {
  .portfolio .content {
    padding-top: 99px; } }

@media screen and (max-width: 575px) {
  .portfolio .content .card {
    margin-bottom: 40px;
    border: transparent; }
    .portfolio .content .card img {
      margin: 0 auto;
      max-width: 375px;
      height: 220px;
      object-fit: cover; } }
