<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/css/admin.css"/>
    <script language="javascript" src="/jquery.min.js"></script>
    <script language="javascript" src="/js/bootstrap.min.js"></script>

  </head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">  
    </nav>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-3 panel-left">

                <div class="list-group">                  
                    <a href="/admin/add-post" id="add-post" class="list-group-item child">Dodaj post</a>
                    <a href="/admin/post" id="show-posts" class="list-group-item child">Pokaż post</a>
                </div>

                <div class="list-group">
                    <a href="/admin/add-media" id="add-media" class="list-group-item child">Dodaj media</a>
                    <a href="/admin/media" id="show-media" class="list-group-item child">Pokaż media</a>
                </div>

                <div class="list-group">
                    <a href="/admin/slider"><span class="list-group-title">Slider</span></a>
                </div> 

                <div class="list-group">
                    <a href="/admin/technology"><span class="list-group-title">Technologie</span></a>
                </div>

            </div>  
            <div class="col-md-9 panel-right">
                <div id="admin-root">

                
                <%if(route==='POST'){%>
                    <%include partials/post%>
                <%}%>
                <%if(route==='ADD_POST'){%>
                    <%include partials/addPost%>
                <%}%>
                <%if(route==='MEDIA'){%>
                    <%include partials/media%>
                <%}%>
                <%if(route==='ADD_MEDIA'){%>
                    <%include partials/addMedia%>
                <%}%>
                <%if(route==='SLIDER'){%>
                    <%include partials/slider%>
                <%}%>
                <%if(route==='TECHNOLOGY'){%>
                    <%include partials/technology%>
                <%}%>

                </div>
            </div>                 
        </div>
    </div>

        
</body>

</html>
