@import './partials/variables';
.header {
    &.home {
        height: 100vh;
        overflow: hidden;
    }    
    .top-bar {
        box-shadow: 0 1px 0 #e6e9ed;
        background-color: #f5f7fa;
        padding: 15px 0;
        .top-bar-content,
        .top-bar-content a {
            color: #506a85;
            font-size: 12px;
            font-weight: 400;
        };
        .top-bar-content.socials {
            display: flex;
            justify-content: space-between;
            a {
                display: block;
                width: 25px;
            }
        }
    };
    .navbar {
        padding: 15px 0;
        .hamburger {
            display: none;
        }
        .navbar-nav {
            flex-direction: row;
            justify-content: flex-end;
            .nav-item {                   
                a {
                    color: #506a85;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: block;
                    transition: .3s;
                    cursor: pointer;
                    padding: 20px;
                    text-decoration: none;
                    &:hover {
                        background-color: #eee;
                    }
                }                    
            }
        }
    }
    &>.container-fluid {
        border-bottom: 1px solid #e6e9ed;
    }
    .carousel {
        .slider-box {
            position: absolute;
            top: 30%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%,0);
            h1 {
                color: $white;
                text-align: center;
            }
            .button-group {
                margin-top: 20px;
                flex-wrap: wrap;
                justify-content: center;
                display: flex;
                .btn {
                    width: 190px;
                    font-size: 20px;
                    padding: 0.75rem 1.25rem;
                    margin-bottom: 20px;
                    &.first {                        
                        background-color: $green;
                        border-color: $green;                                                    
                    }
                    &.second {                       
                        background-color: $white;
                        border-color: $white;
                        color: #000;
                    }
                }                    
            }
        }
        
        .carousel-image {
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(0,0,0,.4);
            background-blend-mode: multiply;
            background-position: center;
        }
    }        
}

@media screen and (max-width: 768px) {
    .header {
        .container-fluid {
            z-index: 30;
            position: absolute;
            background-color: $white;
        }
        .navbar {
            padding: 10px;
            .container {
                justify-content: flex-end;
            }
            .hamburger {
                padding: 0;
                display: block;
                position: relative;
                display: inline-block;
                width: 46px;
                height: 30px;
                cursor: pointer;
                .navbar-toggler-icon {
                    left: 2px;
                    top: 2px;
                    position: absolute;
                    width: 40px;
                    height: 4px;
                    border-radius: 4px;
                    background-color: #506a85;
                    &::before,
                    &::after {
                        left: 0px;
                        display: block;
                        content: "";                            
                        position: absolute;
                        width: 40px;
                        height: 4px;
                        border-radius: 4px;
                        background-color: #506a85;
                    };
                    &::before {
                        top: 10px;
                    };
                    &::after {
                        top: 20px;
                    }
                }
            };
            .navbar-nav {
                flex-direction: column;
                justify-content: initial;
                .nav-item {
                    padding: 15px;
                    text-align: center;
                        border-bottom: 1px #ccc dashed;
                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }        
}