@import './partials/variables';
.post {
    .content {
        .jumbotron {
            h1 {
                font-family: Lato;
            }
        }
        .category {
            font-size: 30px;
            color: $upperBlue;
            padding: 20px 0;
        }
        .carousel {
            margin: 0 auto;
            max-width: 800px;
            .carousel-inner {           
                .carousel-item {
                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }
                }
            }  
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                padding: 15px;
                border: 1px $green solid;
                border-radius: 50%;
                background-color: $green;
                cursor: pointer;
                background-size: 60%;
            } 
            .carousel-indicators {
                .active {
                    background-color: $green;
                }
            }         
        }
        .post-content {
            .description {
                margin: 25px 0;
            }
        }
        .technologies {
            h2 {
                font-size: 30px;
                color: $upperBlue;
                padding: 20px 0;
            }
            .technology-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 50px;
                .tile {
                    margin-top: 15px;
                    border: 1px #ccc solid;
                    width: 280px;
                    height: 280px;
                    padding: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }   
}
@media screen and (max-width: 767px) {
    .post {
        .content {
            padding-top: 99px;
        }
    }
}

@media screen and (max-width: 575px) {
    .post {
        .content {
            .carousel {
                .carousel-inner {           
                    .carousel-item {
                        img {
                            height: 390px;
                        }
                    }
                }            
            }
        } 
    }
}
  